body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  min-height: 100vh;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.card {
  margin-top: 20px;
}

.upper-case {
  text-transform: uppercase
}
/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container_formpage{
  width: 90%;
  margin: auto;
}

.container_button {
  width: 100%;
  clear: both;
}

.container_profile {
margin-left: 10.5%
}


.container_form{
    width:400px;
    margin:0 auto;
    margin-top:8px;
    margin-bottom:2%;
    transition:opacity 1s;
  }

  .container_form_red-flag{
    width:50%;
    margin-top:20px;
    }

  .container_formfield{
    background: #D0D1D4;
    padding:6% 4%;
  }

  .container_formfield--redirectlinktext {
    color: #323133;
    margin: 0;
    font-size: 13px;
  }

  .container_formfield--redirectlink {
    color: #3742fa;
    text-decoration: none;
  }

  .container_formfield_label {
    color:black;
    text-align: left;
    margin-top: 0px;
  }

  .container_formfield--text, .container_formfield--number, .container_formfield--email, .container_formfield--buttons, .container_formfield--location{
    width:92%;
    background:#ffffff;
    margin-bottom:4%;
    border:1px solid #cccccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555555;
  }

  .container_formfield--file {
    padding:2%;
  }

  .container_formfield--text--narration {
    height: 100px;
    padding:4%;
  }

  .remove_text_decor {
    text-decoration: none;
  }

  .autolocate_button {
    margin-bottom: 0px;
    margin-top: 0;;
  }

/* Header */
.header{
  background: #242426;
  color: #ffffff;
  padding-top: 10px;
  min-width: 60px;
}

.header_branding--url{
  color:#ffffff;
  text-decoration: none;
  font-size: 30px;
}

.header_branding--url-signout{
  font-size: 15px;
  display: inline;
  padding: 0 10px 0 10px
}

.header_branding--url-signout--button {
  background-color: #242426;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  outline: 0px;
  margin: 0.5%;
  margin-right: 2px;
  margin-left: 8px;
  cursor: pointer;
  text-transform: uppercase;
  width: 100px;
}

.header_branding--url-signout-prefooter {
  font-size: 15px;
  color: black;
  margin-left: 4px;
  cursor: pointer;
}


.header_branding {
  float: left;
margin-bottom: 5px;
}

.header_branding--text {
  margin: 0;
}

.header_nav {
  float: right;
    margin-top: 10px;
}

.header_branding--highlight{
  color: #DDDFE3;
}

.header_branding--url-signout:hover, .header_branding--url:not(.header_branding--url-signout-prefooter):hover{
  color:#cccccc;
}

/*Introduction*/

.introduction{
  min-height: 400px;
/* background-color: #F3F2D1; */
  text-align: center;
  color: #575559
}

.introduction_create-record {
  padding: 50px;
  min-height:50px;
}

.introduction_create-record_record-page {
  padding-bottom: 0px;
}

.introduction_create-record_profile {
  padding: 0px;
}

.introduction_signin_page{
  min-height: 550px;
}

.introduction_profile{
  min-height: 40px;
  background-color: #EEF0F5;
}

.introduction_signup_and_signin--header {
  margin-top: 70px;
  font-size: 25px;
  margin-bottom: 30px;
}

.introduction_signup_and_signin--header_profile {
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #575559;
}


.introduction_signup_and_signin--body {
  font-size: 18px;
  margin-bottom: 50px;
}


/* Buttons */
.introduction_buttons {
  background-color: #2ecc71;
  color: white;
  width: 25%;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  outline: 0;
  margin: 10px;
  margin-left: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

.introduction_buttons--redflag {
  padding: 14px 20px;
  background-color: #2ecc71;
}

.float_left{
  float: none;
}
.introduction_buttons--redflag--createrecord {
  float: left;
  margin: 3%;
  margin-left: 1.5%;
  width: 243px;
  height: 40px;
  padding: 2px 30px;
}

.introduction_buttons--redflag--card {
  float: none;
  margin-left: 2%;
  margin-right: 2%;
  width: 20%;
  height: 40px;
  padding: 2px 30px;
}

.introduction_buttons--redflag--recordcard{
width: 15%;
margin: 0.4%;
margin-bottom: 8px;
font-size: 12px;
padding: 3px;
cursor: pointer;
background-color: #f4f4f4;
border: 1px solid #c1c1c1;
color: black;
}

.introduction_buttons--redflag--recordcard--info {
cursor: text;
float: left;
background-color: #fafafa;
border: 0.5px solid #c1c1c1;
border-radius: 0;
padding: 2px;
}

.introduction_buttons--redflag--recordcard--statusisresolved{
color: #2ecc71;
}

.introduction_buttons--redflag--recordcard--statusisdraft{
color: #ffa502;
}

.introduction_buttons--redflag--recordcard--statusisrejected{
color: #d35400;
}

.introduction_buttons--viewall {
  background-color: #A5A6A8;
  padding: 14px 20px;
}

.introduction_buttons--signin {
  background-color: #A5A6A8;
}

.introduction_buttons--signup-form {
  width: 70%;
}

.introduction_buttons--signup:hover, .introduction_buttons--viewall:hover, .introduction_buttons--signin:hover, .introduction_buttons--signup-form:hover {
  color: #48474A;
  background-color: #A5A6A8;
  transition: background-color 1.5s;
  transition: color 1.5s;
}

.introduction_buttons--redflag:not(.introduction_buttons--redflag--recordcard):hover{
  color: #48474A;
  background-color: #A5A6A8;
  transition: background-color 1.5s;
  transition: color 1.5s;

}



/*motivation card boxes*/

.motivation {
  margin-top: 60px;
}

.motivation_record {
margin-top: 30px;
}

.motivation_box {
  float:left;
  width: 30%;
  padding: 15px;
  text-align: center;
}

.motivation_box--image {
  width: 70%;
}

.motivation_box_profile {
    border: 1px solid #575559;
    border-radius: 5px;
    width: 95%;
    text-align: center;
    float:none;
    margin: 2%;
  }

  .motivation_box_profile_record {
      border: 1px solid #c1c1c1;
      background-color: #fafafa;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
      min-height: 200px;
      overflow: hidden;
    }

  .motivation_box_profile_details {
    float: left;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    margin-top: 0;
  }

.motivation_box_profile_details_outer{
  min-height: 50px;
  width: 25%;
  border: 0;
  margin-top: 0;
}


  .motivation_box_profile_summary {
    float:right;
    width: 70%;
  }

  .motivation_box_profile_summary_inner {
    float:left;
    width: 25%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: 0px solid #c1c1c1;
    margin-top: 0;
  }

  /* Profile box text styling */

  .motivation_box_profile_details--initials {
    font-size: 80px;
    margin: 0.2%;
    padding: 0;
  }
  .motivation_box_profile_details--text {
    margin-left: 7%;
    padding: 0;
    text-align: left;
    line-height: 0.6
  }

/* End of profile box text styling */


  .motivation_box_profile:not(.motivation_box_profile_details):not(.motivation_box_profile_record--single_record):not(.motivation_box_profile_record_userdraft):not(.motivation_box_profile_summary_inner):hover {
    /* Courtesy W3Schools */
    /* border: 2px solid #C4C6C9*/
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.27);
      cursor: pointer;
      transition: box-shadow 0.5s;
    }


.motivation_box_profile_header{
  background-color: #2ecc71;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  padding: 1px;
}

.motivation_box_profile_card_header{
  height: 15px;
}

.motivation_box_profile_card_header_summary{
  height: 30%;
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
}

.motivation_box_profile_header--draft{
background-color: #575559;
}

.motivation_box_profile_header--under-investigation{
background-color: #ffa502;
}

.motivation_box_profile_header--rejected{
background-color: #d35400;
}

.motivation_box_profile_header--summary {
background-color: #f4f4f4;
color: #575559;
padding: 0;
border-bottom: 1px solid #c1c1c1;
}

.motivation_box_profile_text--successful {
  color: #2ecc71;
}

.motivation_box_profile_text--under_investigation {
  color: #ffa502;
}

.motivation_box_profile_text--rejected {
  color: #d35400;
}

.motivation_box_profile_summary_divheader {
  display: block;
  text-align: left;
  margin-left: 12px;
  margin-top: 0;
  margin-bottom: 5px;
}

.motivation_box_profile_summary_divheader--intervention {
  margin-top: 10px;
}


.motivation_box_profile_body{
padding: 10px;
}

.motivation_box_profile_body_single_record{
padding: 10px;
min-height: 200px;
overflow: hidden;
}

.motivation_box--image--number{
  font-size: 40px;
  padding: 0px;
  width: auto;
  text-align: center;
}

.motivation_box_card--status{
font-size: 15px;
padding-top: 0px;
color: #747d8c;
float: right;
padding-right: 1%;
}

.motivation_box_card--header{
font-size: 15px;
padding-top: 0px;
margin: 14px;
margin-bottom: 0px;
color: #57606f
}

.motivation_box_card--header--singlerecord {
  font-size: 20px;
}

.motivation_box_card--header--title {
  float: left;
}

.motivation_box_card--header--title--single_record {
  float: none;
}

.motivation_box_card--text, .motivation_box_card--images, .motivation_box_card--video {
font-size: 15px;
padding-top: 1%;
padding-bottom: 0;
margin: 2px;
text-align: left;
float: left;
}

.motivation_box_card--cardtext {
  margin-bottom: 1%;
}

.motivation_box_card_tagholder {
  margin-left: 10px;
}


.motivation_box_card--innerimages, .motivation_box_card--innervideo  {
  margin-top: 4%;
  margin-bottom: 4%;
  float: left;
}

/* Bottom borders for single record cards */
/*Courtesy: https://www.steckinsights.com/shorten-length-border-bottom-pure-css/*/
.motivation_box_card--text:not(.motivation_box_card--cardtext):after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 95%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #c1c1c1; /* This creates the border. Replace black with whatever color you want. */
}


/*record cards*/

.motivation_record_list {
  overflow: scroll;
  width: 95%;
  margin-bottom: 40px
}

/* Admin table css*/
/*table*/

.motivation_record_list {
  overflow: scroll;
  width: 100%
}

.motivation_record_list_view-record{
  height:100%;
}
.motivation_record_list_table{
  border-collapse: collapse;
  width: inherit;
  margin: 45px;
  margin-left: 0px;
}

.motivation_record_list_table--th{
  background-color: #EEF0F5;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #575559;
}

.motivation_record_list_table--th--heading {
background-color: #242426;
color: white;
}

.motivation_record_list_table--td, .motivation_record_list_table--th{
  border: 1px solid #737075;
  padding: 8px;
}

.motivation_record_list_table--tr:hover{
  background-color: #C4C6C9;
}

/* footer */

.pre-footer--social{
 float: right;
 padding-bottom: 7px;
}

.pre-footer-list {
padding: 20px;

}

.footer_page{
float: right;
cursor: pointer;
margin-top: 0;
margin-bottom: 20px;
}

.footer {
  text-align: center;
  padding:5px;
  margin-top: 5px;
  color: white;
  background-color: #575559;
  bottom: 0;
}

/*map*/

html, .body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 70%;
}

/*Responsiveness*/

@media screen and (max-width: 800px) {
  .introduction_buttons {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .introduction_buttons--redflag--recordcard {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
.introduction_buttons--redflag--createrecord{
    width: 200px;
    margin-left: 6%;
  }
}

@media screen and (max-width: 800px) {
  .motivation_box {
    width: 100%;
    padding: 2px;
    padding-top: 40px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .container_form {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .motivation_box_profile {
    width: 95%;
    padding: 0%;
    float: none;
    margin: 3.5%;
    margin-left: 0.5%
  }
}

@media screen and (max-width: 800px) {
  .motivation_box_profile_summary {
  float: none;
  margin-top: 130px;
  width: 87%;
  padding-left: 10px;
  }
}

@media screen and (max-width: 800px) {
  .motivation_box_profile_summary_inner {
  float: none;
  }
}

@media screen and (max-width: 800px) {
  .motivation {
    margin-top: 0%;
  }
}

@media screen and (max-width: 800px) {
  .motivation_record_list_table--td, .motivation_record_list_table--th {
    font-size: 70%;
  }
}

@media screen and (max-width: 800px) {
  .motivation_record_list_table {
    table-layout: auto;
    width: 96%;
    margin-left: 2%
  }
}

@media screen and (max-width: 800px) {
  .header_branding--url-signout--buttonnav {
    display: none;
  }
  .header_branding--url-signout--in{
    margin-top: 4px;

  }
}

@media screen and (max-width: 800px) {
  .motivation_box_profile_summary--bottom {
    margin-top: 40px;
  }
  .introduction_buttons--redflag--recordcard--info {
    float: none;
  }
}
